@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  padding: 5vh 0rem 0 0;
  background-color: $body-color-bg;
  
}

header {
    position:relative;
  margin: 0 4vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30vh;
  img {
    position: relative;
    height: 80%;
    width: Auto;
  }

  .headerHeroText {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    h1 {
      text-align: right;
      color: $header-hero-color;
      font-size: $header-hero-fontSize;
      line-height: $header-hero-fontSize;
      font-weight: 500;
    }
  }
}

main {
  padding: 0;
  margin: 0;
  .heroBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: red;
    width: 100%;
    h2 {
      text-align: center;
      color:white;
      font-weight: 500;
      font-family: $galaxyFont;
    }
    .mainHeroContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $galaxyBlack;
      height: 100%;
      width: 100%;
    }
  }

  margin: auto auto;
}

.arrowButton {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.container {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
}

//helper class
.hide {
  display: none;
}

.landingPage{
    height:100vh;
    padding:1rem 4rem;
    width:50%;
}

.sectionTitle{
    color:white;
    font-size:2rem;
    margin-bottom:1.5rem;
}

.pContent{
  text-align:justify;
  font-size: 1rem;
  margin-bottom:1rem;
  color:white;
  font-weight: 100;
  text-indent: 3rem;
}

.sideRight {
  img{
    position:absolute;
    top:114vh;
    right: 10rem;
    width:500px;
    height:auto;
  }
}
