@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Passion+One&display=swap");

//$body-color-bg:#112221;
$body-color-bg:#121;
$body-color-shadow: #111111;

$header-hero-color: #fdd;
$header-hero-fontSize: 10vh;

$main-hero-fontSize: 10rem;
$main-hero-color:#fdd;
$galaxyBlack: #011020;
$galaxyFont: "Passion One";