@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Passion+One&display=swap");

$body-color-bg:#112221;

$header-hero-color: #fdd;
$header-hero-fontSize: 4rem;

$main-hero-fontSize: 10rem;
$main-hero-color:#fdd;
$galaxyBlack: #011020;
$galaxyFont: "Passion One";