@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-color: #5dad7eff;
$primary-font-color: gray;
$shade-color : #fff;
$secondary-color: #fff;
$go-color:#00a86b;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x:hidden;
  overflow-y:hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  color: $primary-font-color;
}
.headerContainer {
  background-color: transparent;
  height: 34vh;
}

.logoContainer {
  position:absolute;
  background-color: transparent;
  background-image: url(/assets/Logo.svg);
  background-repeat: no-repeat;
  width: 30%;
  height: 85%;
  top:1.5vh;
  left:1vw;
  
}
.contentContainer {
  position: relative;
  height: 56vh;
  width: 100vw;
  background-color: transparent;
  z-index: 0;
}

.heroImgContainer {
  position: absolute;
  background-color: transparent;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.heroImg {
  position: absolute;
  width: auto;
  height: 150%;
  bottom: 0;
  right: 15%;
}

.confirmButton {
  position: absolute;
  background-image: url("/assets/confirmbutton.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  width: 30vh;
  height: 30vh;
  bottom: 5%;
  right: 10vw;
}

.closeButton {
  position: absolute;
  padding: 0;
  right: 3%;
  cursor: pointer;
  background-color: silver;
  outline: none;
  border: $primary-font-color solid 1px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-radius: 15px;
  visibility: visible;
  z-index: 10000;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  color: $primary-font-color;
  background-color: transparent;
  height: 100%;
  width: 100%;
}



.heroTxtContainer {
  position: absolute;
  width: 50%;
  color: #fff;
  z-index: 99999;
  top: 0;
  left:5%;
  text-shadow: 3px 3px dimgray;
}
.heroHeader {
    font-size: 10vh;
    font-family: "Roboto";
    text-align: left;
  }

.strongred {
  color: #cc0000;
}

.bubble {
  position: absolute;
}
#blueBubble {
  width: 75vh;
  top: 0;
  right: 35vw;
  opacity: 70%;
}
#purpleBubble {
  width: 50vh;
  top: 0vh;
  right: 3vw;
  opacity: 50%;
}


/* FOOTER AREA ==============================================*/
.footerContainer {
  position: absolute;
  height: 10vh;
  width: 100vw;
  padding: 0;
  margin:0;
  bottom: 0px;
  border-radius: 2vw 2vw 0 0;
  background-color: $secondary-color;
  z-index: 10;
}

.comLogoContainer {
  position:absolute;
  background-color: transparent;
  width:100%;
  padding-top: 0vh;
  z-index: 19;
  height:100%;
  top:0;
}

.comLogoContainer > *{
    margin-right:0px;
}

.logoCom {
  width: 7vh;
  height: 7vh;
  outline:none;
  border:none;
  cursor: pointer;
  background-color: transparent;
  opacity:80%;
}

.logoCom:hover{
  opacity:100%;
}

.logoComBox {
  position:absolute;
  background-color: $shade-color;
  padding:0.5vh;
  height:7vh;
  width:7vh;
  border-radius:4vh;
  border:$shade-color solid 1px;
}

#whatsappBox {
  top:1vh;
  left:2vh;
  height:7vh;
  width:7vh;
}

#facebookBox {
  top:1vh;
  left:12vh;
}

#instagramBox {
  top:1vh;
  left:22vh;
}

#whatsappButton {
  position:absolute;
  background-image: url("/assets/logoWhatsapp.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#facebookButton {
  background-image: url("/assets/logoFacebook.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#instagramButton {
  background-image: url("/assets/logoInstagram.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.closeButton {
  position: absolute;
  background-color: transparent;
  padding: 0;
  right: 7vw;
  top: 2vh;
  outline: none;
  border: $primary-font-color solid 1px;
  width: 5vh;
  height: 5vh;
  transform: rotate(45deg);
  border-radius: 2.5vh;
  visibility: hidden;
  z-index: 10000;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border-radius: 2vh;
  color: $primary-font-color;
  background-color: transparent;
  height: 100%;
  width: 100%;
}


.detailContainer {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 5vw;
  box-sizing: border;
  visibility:hidden;
  opacity:0;
}

.subHeader {
  font-family: "Montserrat";
  color: #444c;
  font-size: 8vh;
  margin-bottom: 10px;
}

.descList {
  padding:0 0 0 0vw;
  margin:0;
  justify-content: left;
}

.desc {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  margin-left:0%;
  margin-right:auto;
  font-size:3vh;
}
/* END OF FOOTER MAIN COMPONENT=================*/

/* FOOTER SUB COMPONENT FORMS ==================*/
.waForm {
  position:absolute;
  display:none;
 }

#waFormTitle {
  position:absolute;
  left:5vw;
  top:1vh;
  font-family: "Roboto";
  font-size: 4vh;
}

#waFormTextMessage {
  position:absolute;
  top:7vh;
  left:5vw;
  outline:none;
  padding:0.5vh 0.5vw;
  border:$primary-font-color solid 1px;
  width:27vw;
  height:19vh;
  resize:none;
  border-radius: 1vh;
}

.formCloseButton {
  position:absolute;
  right:1vw;
  top:1vh;
  width:25px;
  height:25px;
  border-radius:12.5px;
  outline:none;
  border:$primary-font-color solid 1px;
  color:$primary-font-color;
  font-size:20px;
  padding:0;
  cursor: pointer;
  transform:rotate(45deg);
}

.formCommandButton {
  position:absolute;
  border:none;
  top:29vh;
  left:5vw;
  width:28vw;
  height:40px;
  color: $secondary-color;
  font-size:16px;
  background-color:$go-color;
  cursor:pointer;
}

