@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-color: #5dad7eff;
$primary-font-color: gray;
$shade-color : #fff;
$secondary-color: #fff;
$go-color:#00a86b;

@media screen and (max-width: 720px) {
  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    color: $primary-font-color;
  }
  .headerContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .logoContainer {
    position: absolute;
    background-color: transparent;
    background-image: url(/assets/Logo.svg);
    background-repeat: no-repeat;
    width: 60%;
    height: 95%;
    top: 1vh;
  }
  .contentContainer {
    position: absolute;
    height: 80vh;
    width: 100vw;
    background-color: transparent;
    z-index: 0;
  }

  .heroImgContainer {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .heroImg {
    position: absolute;
    width: 95%;
    height: auto;
    bottom: 0;
    left: 5%;
  }

  .confirmButton {
    position: absolute;
    background-image: url("/assets/confirmbutton.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    width: 30vw;
    height: 30vw;
    bottom: 5%;
    right: 20%;
  }

  .closeButton {
    position: absolute;
    background-color: transparent;
    padding: 0;
    right: 0px;
    top: 5px;
    outline: none;
    border: $primary-font-color solid 1px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 15px;
    visibility: hidden;
    z-index: 10000;
  }

  .buttonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    color: $primary-font-color;
    background-color: transparent;
    height: 100%;
    width: 100%;
  }

  .heroTxtContainer {
    position: absolute;
    width: 45%;
    color: #fff;
    z-index: 99999;
    top: 20vh;
    left: 5%;
    text-shadow: 2px 2px dimgray;
  }

  .strongred {
    color: #cc0000;
  }

  .bubble {
    position: absolute;
  }
  #blueBubble {
    width: 60%;
    top: 25vh;
    left: 3%;
    opacity: 70%;
  }
  #purpleBubble {
    width: 50%;
    top: 20vh;
    right: 3%;
    opacity: 50%;
  }

  .heroHeader {
    font-size: 5vh;
    font-family: "Roboto";
  }

  .footerContainer {
    position: absolute;
    height: 20vh;
    width: 100vw;
    bottom: 0;
    border-radius: 5vw 5vw 0 0;
    background-color: $secondary-color;
    z-index: 10;
  }

  .comLogoContainer {
    position: absolute;
    height: auto;
    width: 60%;
    margin: 0;
    padding: 0;
    top: 0.25vh;
    bottom: auto;
    left: 3%;
    background-color: transparent;
    z-index: 19;
  }

  .logoCom {
    width: 7vh;
    height: 7vh;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .logoComBox {
    position: absolute;
    background-color: #eff;
    padding: 0.5vh;
    height: 7vh;
    width: 7vh;
    border-radius: 4vh;
    border: #eff solid 1px;
  }

  #whatsappBox {
    left: 1vh;
  }

  #whatsappButton {
    background-image: url("/assets/logoWhatsapp.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detailContainer {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 95%;
    top: 0px;
    left: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border;
    visibility: hidden;
    opacity: 0;
  }

  .subHeader {
    font-family: "Montserrat";
    color: #444c;
    font-size: 3.5vh;
    padding-top:5vh;
    margin-bottom: 10px;
  }

  .descList {
    padding: 0 0 0 6vw;
    margin: 0;
    justify-content: left;
  }

  .desc {
    font-family: "Montserat";
    font-size: 2.5vh;
    margin: 0;
    padding: 0;
    margin-left: 0%;
    margin-right: auto;
  }

  /* FOOTER SUB COMPONENT FORMS ==================*/
  .waForm {
    position: absolute;
    display: none;
  }

  #waFormTitle {
    position: absolute;
    left: 16vw;
    top: 1.5vh;
    font-family: "Roboto";
    font-size: 6vw;
  }

  #waFormTextMessage {
    position: absolute;
    top: 8vh;
    left: 16vw;
    outline: none;
    padding: 0.5vh 0.5vw;
    border: $primary-font-color solid 1px;
    width: 60vw;
    height: 28vh;
    resize: none;
    border-radius: 1vh;
  }

  .formCloseButton {
    position: absolute;
    right: 2vw;
    top: 1vh;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: $primary-font-color solid 1px;
    color: $primary-font-color;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    transform: rotate(45deg);
  }

  .formCommandButton {
    position: absolute;
    border: none;
    top: 38vh;
    left: 16vw;
    width: 61.5vw;
    height: 40px;
    color: $secondary-color;
    font-size: 16px;
    background-color: $go-color;
    cursor: pointer;
  }
}
