@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height:100vh;
    background-color: #5dad7eff;
    font-family: "Montserrat";
    overflow: hidden;
}

h1 {
    font-size: 1.5em;
}

.strong {
    color:red;
    white-space:nowrap;
    font-family:"Fredoka One";
    font-weight: 400;
}

.logocontainer {
    background-color: #5dad7eff ;
    display:flex;
    padding:0.5em;
    height:20%;
}

.myherocontainer {
    display:flex;
    background-color: #5dad7eff ;
    margin: auto 0;
    justify-content: center;
    height:70%;
}

.heroimagecontainer {
    display:flex;
    position: relative;
    margin-bottom:0;
    margin-top:auto;
    height:100%;
}

.heroimage {
    height:100%;
    text-align: center;
    
}

.footercontainer {
    display:flex;
    margin-top:auto;
    margin-bottom:0;
    height:10%;
    opacity: 70%;
    background-color: white;
    border-radius: 2em 2em 0 0;
    padding:0 0 0 0;
}
.comlogocontainer {
    display:flex;
    height:100%;
    width:100%;
    opacity: 100%;
    margin-top:auto;
    margin-bottom:auto;
}

.comlogo {
    height:70%;
    margin: auto 0 auto 0%;
    padding:0;
}

.comlogocontainer > * {
    margin-right:1em;
    margin-left:1em;
}

#webmurahkulogotext {
    font-family: "Fredoka One";
}

#logosvg {
    margin:0px;
    height:100%;
}

/*=========================================================================*/
@media screen and (max-width:720px) {

    
    #logosvg {
        height:100%;
        margin:0px auto 0 0;
        text-align: center;
    }

    .logocontainer {
        height:20%;
        padding-top:3%;
        padding-left:3%;
    }

    .myherocontainer {
        position:relative;
background-color:#5dad7eff;
        display:flex;       
        width:100%;
        height:60%;
        margin: auto 0;
        padding:0;
       }

       .heroimagecontainer {
        padding:0;
        position:absolute;
        display:flex;
        align-items: flex-end;
        background-color:transparent;
        height:100%;

    }

    .heroimage {
        height:100%;
        margin:0;
        margin-left:20vw;
        z-index:0;
    }

    .footercontainer {
        position:relative;
        height:20%;
        opacity: 70%;
        background-color: #fff ;
        border-radius:2em 2em 0 0;
        z-index:10;
    }

    .comlogo {
        margin: 0; 
        padding:0;
        height:3em;
        width:3em;
    }

    .comlogocontainer { 
          margin-top:1em;
        margin-left:1em;
        position:absolute; 
       width:100%;
       height:3em;
        z-index:10;
    }

    .closebuttonstyle {
        display:flex;
        transform: rotate(45deg);
        font-size:25px;
        width:30px;
        outline:none;
        height:30px;
        align-items:center;
        margin-left:auto;
        margin-right:3vw;
        margin-top:2vh;
        justify-content: center;
        border:#444444 solid 1px;
        color:#444444;
        border-radius:15px;
        visibility:hidden;
        z-index:20;
    }

    .closebuttonstyle:hover{
        cursor: pointer;
    }

    
    
    .comlogocontainer :not(:last-child) {
        margin-right:1em;
    }

    .descriptioncontainer {
        position:absolute;
        color:#fff;
        width:45vw;
        margin-left:-50%;
        margin-top:5%;
        background-color: transparent;
        z-index:0;
        
    }

    .herotext {
        font-size: 3.9vh;
        color:white;
        font-family:"Montserrat";
        text-shadow: 2.5px 2.5px #2c2c4c;
        margin-bottom: 2.5vh;

    }

  #yellowbubble {
      position:absolute;
      z-index:0;
      width:30%;
      margin-top:35%;
      margin-left:70%;

      
  }
  

  #bluebubble {
    position:absolute;
    width:60%;
    margin-left:-40%;
    z-index:0;
  }

  #orangebubble {
    position:absolute; 
    width:50%;
    margin-top:-10%;
    margin-left:50%;
    z-index:0;
  } 

  #confirmbuttoncontainer {
      position:absolute;
      background-color:transparent;
      border:none;
      outline:none;
      margin-left: 45vw;
      margin-top:35vh;
      width:20vh;
      z-index:0;
  }

  #confirmbuttoncontainer:hover {
      cursor: pointer;
  }

  .detailbox {
      position:absolute;
      display:flex;
      flex-direction: column;
      justify-content: top;
      height:70%;
      width:80%;
        font-weight: 100;
        font-size:2.3vh;
      background-color:transparent;
      margin:10% 7%;
      opacity:0;
  }

  .detailitem :not(:last-child){
      margin-bottom: 1vh;
  }
  .list {
      margin-left:1em;
  }
 
  .detailheader {
      font-size:3vh;
      margin-bottom:2vh;
  }
}

